.enlaces_nav {
    color: rgb(60, 112, 216);
    font-weight: 900;
    margin-top: 4px;
    font-family: 'Montserrat';
    text-align: center;

}

.enlaces_nav {
    color: rgb(60, 112, 216);
    font-weight: 900;
    margin-top: 4px;
    font-family: 'Montserrat';
    text-align: center;

}

#nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(172, 172, 178), white);

}

.enlaces_nav:hover {
    color: rgb(14, 73, 115);
}

.enlaces_nav:active {
    color: rgb(60, 112, 216);
    /*COMO EL PRIMER COLOR*/
}

#navbarDropdownMenuLink-55 {
    /*flecha del dropdown*/
    color: rgb(1, 2, 3);
}

#navbarDropdownMenuLink-55:hover {
    color: rgb(88, 69, 193);
}

#navbarDropdownMenuLink-55:active {
    color: rgb(39, 20, 255);
}

nav {
    position: fixed;
}

.rrss {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    float: right;

}

.logo {
    width: 70px;
    height: 60px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.logo_footer{
    width: 100px;
    height: 90px;
    margin-top: -10px;
    margin-bottom: -10px;
}

footer {

    bottom: 1px;
    /*Lo ponemos abajo*/
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(172, 172, 178), white);

}

.a_footer{
    color: rgb(0, 0, 0);
    font-family: arial;

}


.a_footer:hover{
    text-decoration: none;
    font-size: 17px;
}







img:hover {
    opacity: 100%;
}

/*	.fijar{
    position: fixed;
    z-index: 100;
    border: 2px solid cyan;
}*/

.scroll {
    height: 450px;
    /*Tamaño*/
    overflow-y: scroll;

}


/* PERFIL */

#posicion_imagen {
    height: 450px;
    width: 750px;
    margin-left: 10px;
    display: block;
    overflow: hidden;
    /*Para que no se salga la imagen*/

}



#enviar_imagen_perfil_archivo {
    margin-left: 400px;
}

