    <footer>
        <div class="container-fluid">
            <hr width="80%" style="background-color : rgb(63, 28, 201);" class="my-4">
            <!--a href="#" style="float: right; margin-top: -20px" class="mx-5 ">Inicio</a-->
            <button style="float: right; outline: none; box-shadow: 1px 2px rgba(184, 173, 173, 0.32); height: 120px; width: 50px; background-color: rgba(221, 215, 215, 0);
                border-radius: 90px;" id="arriba" class="mx-5">⬆</button>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-4 my-5">
                    <p class="mx-5">Contacto: &nbsp<img src="images/correo.png" ></p>
                </div>
                <div class="col-4 text-center py-3">
                    <img src="images/logo.png" class="logo_footer my-1">
                </div>
                <div class="col-4 my-3 ">
                    <div class="row mx-5">
                        <img class="rrss mx-2" src="images/youtube.png"><a class="rrss  a_footer"
                            href="https://www.youtube.com/Dev2Play">YouTube</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <br><br>
                        <img class="rrss mx-2" src="images/facebook.png"><a class="rrss  a_footer"
                            href="https://www.facebook.com/Dev2Play">Facebook</a>
                        <br><br>
                    </div>
                    <div class="row mx-5">
                        <img class="rrss mx-2" src="images/twitter.png"><a class="rrss  a_footer"
                            href="https://twitter.com/Dev2Play">Twitter</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <br><br>
                        <img class="rrss mx-2" src="images/instagram.jpg"><a class="rrss a_footer"
                            href="https://www.instagram.com/Dev2Play/">Instagram</a>
                    </div>


                </div>
            </div>


        </div>
    </footer>

    <script>
        $(document).ready(function(){

            $('#arriba').click(function(){
                //console.log(location.href)
                location.href = location.href
            });

            $(".logo_footer").click(function(){
                location.href = "/"
            })

        });

    </script>