    <!--NAVEGACION-->
    <nav id="nav" class="navbar navbar-expand-lg  navbar-expand-sm navbar-white  static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/logo.png" alt="Dev2Play"  class="mx-3 logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto mx-2 my-2">
                    <li class="nav-item active">
                        <!--a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link enlaces_nav" href="/tienda">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link mx-2" href="#"
                            style="color: rgb(161, 183, 226); font-weight: 800; margin-top: 4px;">|</p>
                    </li>
                    <li class="text-muted">
                        <a class="nav-link enlaces_nav" href="/verPublicaciones">Publicaciones</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link mx-2" href="#"
                            style="color: rgb(161, 183, 226); font-weight: 800; margin-top: 4px;">|</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link enlaces_nav" href="/proyectosActivos">Proyectos</a>
                    </li>
                    <li class="nav-item mr-2">
                        <p class="nav-link" href="#"
                            style="color: rgb(161, 183, 226); font-weight: 800; margin-top: 4px;">|</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link enlaces_nav" href="#">Mis proyectos</a>
                    </li>
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                class="rounded-circle z-depth-0" alt="avatar image" width="40px">
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                            aria-labelledby="navbarDropdownMenuLink-55">
                            <a class="dropdown-item" href="/perfil">Ver mi perfil</a>
                            <a class="dropdown-item" href="/editarPerfil">Editar mi perfil</a>
                            <a class="dropdown-item" href="/formularioProyecto">Crear Proyecto</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
<br><br><br><br>
