
<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
  	<div class="col-4"></div>
  	<div class="col-4">
	 <div id="preview"  class="thumbnail py-4" >
		<img   src="images/gif.gif" class="rounded-circle z-depth-0 mx-auto  perf" alt="avatar image" width="200px" height="200px" style="border: solid 4px" >
	 </div>		
	 <!--Edicion de la foto-->
	 <div class="row">
		 <div class="col-5">
			<input type="file" name="imagen" id="imagen_perfil" class="my-2 mt-4">
		 </div>
		 <div class="col-2"></div>
		 <div class="col-5">
			 <button class="my-4 mx-5">Guardar</button>
		 </div>
	 </div>

	</div>
	<div class="col-4"></div> 
  </div>


		
		








		<!--<img src="images/gif.gif" class="rounded-circle z-depth-0 mx-auto  perf" alt="avatar image" class="rounded-circle z-depth-0 mx-auto py-4" width="200px" height="200px" style="border: solid 4px" >-->
	</div>
	<br>

<br>
	<div class="row mb-2">
		<div class="mx-auto text-center">
			<br>
			<form action="" method="POST" id="envi_form">
			<div class="container-fluid">
				<div class="row">

					<div class="col-4"><textarea rows="6" class="descdat" cols="150" > {{descrip}}</textarea></div>
					<div class="col-8">	<input type="submit" class="my-5 float-right" name="guardar" value="Guardar" id="sobre"></div>
				</div>
			</div>
			</form>
			 <!-- quepasa-->

		</div>	
	</div>
	<div class="row">
		<div class="col mx-auto text-center mb-1"  ><!--boton para editar nombre y texto-->
		  <form method="" action="">
		  </form>	
		</div>
	</div>
	<br>

	



	<div class="row">
		<div class="col-3 fijar scroll">
			<br>
			<div class="salida_roles px-1 mb-5">

			  <form name="rol" class="mx-5" method="post" action="">
				<select class="tusroles">
				<option value="0">Añadir</option>
				<br>
				<option value="1">Programador</option>
				<br>
				<option value="2">Diseñador Grafico</option>
				<br>
				<option value="3">Tecnico de sonido</option>
				<br>
				<option value="4">Guionista</option>
				</select>
				
			  </form>	
			</div>
			<div class="col col-3 text-center">
				<button name="roles"  class="mx-5" value="Guardar" id="aniadir_rol">Añadir</button>
			</div>
		</div>

		<div class="col scroll">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/gif.gif" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the
								bulk of the card's content.</p>
						</div>
					</div>
					<br>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/gif.gif" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the
								bulk of the card's content.</p>
						</div>
					</div>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/gif.gif" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the
								bulk of the card's content.</p>
						</div>
					</div>
					<br>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<img class="card-img-top" src="images/gif.gif" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the
								bulk of the card's content.</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-3" style="text-align: center;">
			<h4>Proyecto 1</h4>
			<br>
			<h4>Proyecto 1</h4>
			<br>
			<h4>Proyecto 1</h4>
			<br>
			<h4>Proyecto 1</h4>
			
		</div>

	</div>

</div>
<!-- /.container -->
<br>


	<script>

		$(document).ready(function () {

			function filePreview(input) {
				//Miramos si hay archivos seleccionados
				if (input.files && input.files[0]) {
					var reader = new FileReader(); //Esto nos permite leer archivos

					reader.onload = function (e) { //el parametro nos permite acceder a la ruta de la imagen
						$('#preview').html("<img src = '" + e.target.result + "'  class='rounded-circle z-depth-0 mx-auto  perf' alt='avatar image'  '/>"); //Ponemos la imagen dentro del div

					}

					reader.readAsDataURL(input.files[0]);
				}
			}

			$('#imagen_perfil').change(function () {

				filePreview(this);
			});


			$('#aniadir_rol').click(function(){
				if($('.tusroles').val() > 0){
					$('.salida_roles').after(" <form name='rol' class='mx-5 my-5' method='post' action=''> <select class='tusroles'><option value='0'>Añadir</option><br><option value='1'>Programador</option><br><option value='2'>Diseñador Grafico</option><br><option value='3'>Tecnico de sonido</option>	<br><option value='4'>Guionista</option>	</select> </form>	")


					  
				}
			});

			$('#sobre').click(function(){
				var de = $('.descdat').val();
				//location.href = "sobremi/" + de
				$('#envi_form').attr('action', '/sobremi/'+de)

			});


		});

	</script>