  <!--CUERPO-->
    <div class="container-fluid">
        <br>
        <!--PARTE SUPERIOR-->
        <div class="row">
            <!--ESPACIADO IZQ-->
            <div class="col-4"></div>
            <!--TITULO-->
            <div class="col-4 my-3">
                <h3><u>⊡ Titulo Del videojuego a crear</u></h3><br><br><br>
            </div>
            <div class="col-2"></div>
            <!--MIEMBROS Y TIEMPO-->
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <p class="miembros">2/4 Miembros</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="tiempo">24:10:11</p>
                    </div>
                </div>
                <hr style="width: 115px; margin-right: 999px; background-color: rgb(20, 20, 214);">
            </div>
            
        </div>

    </div>

    <!--DESCRIPCION-->
    <div class="container des">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nulla, quae voluptate repellendus eum vitae,
        perferendis ipsam ratione ducimus accusamus, rerum totam recusandae incidunt non officiis officia laudantium
        esse blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, repellat deleniti optio porro enim
        tenetur aliquid sunt impedit quaerat sapiente cum possimus, nostrum facere dolores debitis, labore architecto
        praesentium necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, porro. Nulla, enim
        dolor incidunt asperiores quasi placeat possimus accusantium nesciunt laboriosam veniam maiores sapiente!
        Incidunt aliquid consequuntur neque culpa modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Suscipit consequuntur qui, odio ab beatae, similique tempore quasi, voluptate labore saepe possimus officiis!
        Dolor ut consectetur est nostrum animi nesciunt adipisci. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Inventore explicabo aperiam reiciendis neque rem ab nulla eos natus fugit nemo quia earum tempora
        molestias, similique eius, consequuntur minus iusto? Placeat.

    </div>
    <br>


    <h2 class="my-1"> ★ Se buscan: <hr></h2>
    
    <!--ROLES Y OCUPANTES-->
    <!--div class="container roles">
        <div class="row">

            

            <div class="col-4 cuadradoR">
                <h6><strong>
                        Programador C# <br><br>
                        Diseñador Grafico <br><br>
                        Tecnico de sonido <br><br>
                    </strong></h6>
            </div>

            <div class="col-1">
                <<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>
                <<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>
                <<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>
                <<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>
                <<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>
                <<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>
                <<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>
            </div>
     
            <div class="col-4 cuadradoM">
                <h6>
                    <strong>
                        Nombre Apellido <br><br>
                        Nombre Apellido <br><br>
                        Nombre Apellido <br><br>
                    </strong>
                </h6>
            </div>
        </div>
    </div-->



    <div class="container my-5">
        <div class="row">
            <div class="col-2 mx-5"></div>
            <div class="col-4">
                Programador C# <br>
                <hr style="width: 150%;">
                Diseñador Grafico <br>
                <hr style="width: 150%;">
                Tecnico de sonido <br>
                <hr style="width: 150%;">
            </div>
            <div class="col-4">
                <a href="">Hector Matias</a>
                <br><br><br><br><br>
                <a href="">Jonathan Joestar</a>
            </div>
        </div>
    </div>
    
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 marcar mx-5">
                <h4>Seguir Proyecto</h4>⭐
            </div>
            <div class="col-3"></div>
            <div class="col-2 mx-5">
                <button class="solicitar">Solicitar entrada</button>
            </div>
        </div>
    </div>
    <br>