<br><br><br><br>

    <div class="container">
        <h3 style="text-align: center;" class="mb-4">Nombre</h3>
    </div>

    <div class="container" id="gestor">

    </div>
    <div class="container mt-3">
        <form action="/gestor" method="POST" enctype="multipart/form-data" style="text-align: right;">
            <input type="file" name="file">
            <button type="submit">Subir archivo</button>
        </form>
    </div>




<br><br><br><br><br><br><br><br><br>    