<br><br><br>

<div class="container">
    <h3 style="text-align: center;" class="mb-4"><u>{{equipos}}</u></h3>
    <p class="text-muted">Para descargar un archivo, haz click sobre dicho archivo :)</p>
</div>

<div class="container" id="gestor">
    <div class="row">

        <p id="cont_gest">
            {{#each archivos}}
            <div class="col-2 ml-5">
                <p class="imagenes mt-3 mx-3" title="{{archivos}}">
                    <a href="{{archivos}}" id="enlace_desc" download="">📝{{archivos}}</a>
                </p>
            </div>
            {{/each}}
        </p>

    </div>



</div>
<div class="container mt-3">
    <form action="/gestor" method="POST" enctype="multipart/form-data" style="text-align: right;">
        <input type="file" name="file">
        <button type="submit">Subir archivo</button>
    </form>
</div>




<br><br><br><br>


<script>
    $(document).ready(function () {
        $('#cont_gest').each(function () {
            var datos = $(this).text();
            //console.log(datos)
            var break1 = datos.indexOf(".")
            var extension = datos.substring(break1 + 1);
            console.log(extension)

        });
    });
</script>