<br><br>

<!--BUSCAR Y FILTRAR-->
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <form action="">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp游댍
        <input type="text" class="inputs_proyectos">
      </form>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
      <select name="categorias" class="mt-2">
        <!--ver el tpo de categoria seleccionada-->
        <option value="seleciona categoria">Ordenar por novedad</option>
        <option value="Ordenar por popularidad">Ordenar por popularidad</option>
      </select>
    </div>
  </div>
</div>
<br>
<hr>
<br>

<!--ROW DE FICHAS DE PROYECTOS ABIERTOS-->
<div class="container proyectos">

  <!--PRIMERA FILA-->
  <div class="row">

    <!--PRIMERA TARJETA-->

    <div class="col-5 fichas">
      <h3>Titulo</h3>
      <hr class="hr_debajo_del_titulo">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae perferendis soluta iure eaque
        provident exercitationem quibusdam, minima nobis delectus ullam temporibus sapiente praesentium commodi,
        veniam numquam illum ea neque.
      </div>
      <br>
      <div class="participantes">
        2/4 Miembros
      </div>
      <br>
      <hr class="bajo_roles">
      <div class="roles">
        <strong>Programador C#</strong> - Persona con conocimientos de programacion <br>
        <strong>Dise침ador Grafico</strong> - Dise침ador de mapeados pixelart <br>
        <strong>Tecnico de sonido</strong> - Se busca banda sonora para un juego rpg de ambiente medieval<br>
      </div>
      <br>
    </div>

    <div class="col-1"></div>

    <div class="col-5 fichas">
      <h3>Titulo</h3>
      <hr class="hr_debajo_del_titulo">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae perferendis soluta iure eaque
        provident exercitationem quibusdam, minima nobis delectus ullam temporibus sapiente praesentium commodi,
        veniam numquam illum ea neque.
      </div>
      <br>
      <div class="participantes">
        2/4 Miembros
      </div>
      <br>
      <hr class="bajo_roles">
      <div class="roles">
        <strong>Programador C#</strong> - Persona con conocimientos de programacion <br>
        <strong>Dise침ador Grafico</strong> - Dise침ador de mapeados pixelart <br>
        <strong>Tecnico de sonido</strong> - Se busca banda sonora para un juego rpg de ambiente medieval<br>
      </div>
      <br>
    </div>
    <div class="col-1"></div>




  </div>

  <!--COPIAS-->
  <div class="row">
    <!--PRIMERA TARJETA-->
    <div class="col-5 fichas">
      <h3>Titulo</h3>
      <hr class="hr_debajo_del_titulo">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae perferendis soluta iure eaque
        provident exercitationem quibusdam, minima nobis delectus ullam temporibus sapiente praesentium commodi,
        veniam numquam illum ea neque.
      </div>
      <br>
      <div class="participantes">
        2/4 Miembros
      </div>
      <br>
      <hr class="bajo_roles">
      <div class="roles">
        <strong>Programador C#</strong> - Persona con conocimientos de programacion <br>
        <strong>Dise침ador Grafico</strong> - Dise침ador de mapeados pixelart <br>
        <strong>Tecnico de sonido</strong> - Se busca banda sonora para un juego rpg de ambiente medieval<br>
      </div>
      <br>
    </div>
    <div class="col-1"></div>

    <div class="col-5 fichas">
      <h3>Titulo</h3>
      <hr class="hr_debajo_del_titulo">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae perferendis soluta iure eaque
        provident exercitationem quibusdam, minima nobis delectus ullam temporibus sapiente praesentium commodi,
        veniam numquam illum ea neque.
      </div>
      <br>
      <div class="participantes">
        2/4 Miembros
      </div>
      <br>
      <hr class="bajo_roles">
      <div class="roles">
        <strong>Programador C#</strong> - Persona con conocimientos de programacion <br>
        <strong>Dise침ador Grafico</strong> - Dise침ador de mapeados pixelart <br>
        <strong>Tecnico de sonido</strong> - Se busca banda sonora para un juego rpg de ambiente medieval<br>
      </div>
      <br>
    </div>
    <div class="col-1"></div>




  </div>

  <div class="row">

    <!--PRIMERA TARJETA-->
    <div class="col-5 fichas">
      <h3>Titulo</h3>
      <hr class="hr_debajo_del_titulo">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae perferendis soluta iure eaque
        provident exercitationem quibusdam, minima nobis delectus ullam temporibus sapiente praesentium commodi,
        veniam numquam illum ea neque.
      </div>
      <br>
      <div class="participantes">
        2/4 Miembros
      </div>
      <br>
      <hr class="bajo_roles">
      <div class="roles">
        <strong>Programador C#</strong> - Persona con conocimientos de programacion <br>
        <strong>Dise침ador Grafico</strong> - Dise침ador de mapeados pixelart <br>
        <strong>Tecnico de sonido</strong> - Se busca banda sonora para un juego rpg de ambiente medieval<br>
      </div>
      <br>
    </div>
    <div class="col-1"></div>

    <div class="col-5 fichas">
      <h3>Titulo</h3>
      <hr class="hr_debajo_del_titulo">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae perferendis soluta iure eaque
        provident exercitationem quibusdam, minima nobis delectus ullam temporibus sapiente praesentium commodi,
        veniam numquam illum ea neque.
      </div>
      <br>
      <div class="participantes">
        2/4 Miembros
      </div>
      <br>
      <hr class="bajo_roles">
      <div class="roles">
        <strong>Programador C#</strong> - Persona con conocimientos de programacion <br>
        <strong>Dise침ador Grafico</strong> - Dise침ador de mapeados pixelart <br>
        <strong>Tecnico de sonido</strong> - Se busca banda sonora para un juego rpg de ambiente medieval<br>
      </div>
      <br>
    </div>
    <div class="col-1"></div>




  </div>


</div>
<br>

<!--Codigo enlace desde los div-->
<script>
  $(document).ready(function () {
    $(document).on('click', '.fichas', function () {
      location.href = '/fichaProyecto';
    })
  });
</script>