<br><br>

<!--BUSCAR Y FILTRAR-->
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div id="busqueda">

        <form action="" id="formulario" method="POST">
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp🔎
          &nbsp
          <input type="text" id="datos" class="inputs_proyectos"> &nbsp <button id="buscar"
            type="submit">Buscar</button>
        </form>


      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
      <select name="categorias" id="ordenar" class="mt-2">
        <!--ver el tpo de categoria seleccionada-->
        <option value="recientes">Ordenar por</option>
        <option value="novedad">Ordenar por novedad</option>
        <option value="finalizar">Proximos a finalizar</option>
      </select>
    </div>
  </div>
</div>
<br>
<hr>
<br>


<!--ROW DE FICHAS DE PROYECTOS ABIERTOS-->
<div class="container proyectos">


  <!--PRIMERA FILA-->

  <div class="row">
    {{#each proyecto}}
    <div class="col-5 fichas">
      <div class="row">
        <div class="col-12">
          <h3 style="font-family: fjalla;">{{titulo}}</h3>
        </div>
      </div>
      <hr class="mb-4">
      <div class="row">
        <p id="desc">{{descripcion}}</p>
      </div>
      <hr class="my-3">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">Se busca:</h5>
        </div>
      </div>
      <div class="row mb-1 mr-1">
        <p class="roles">{{roles}}</p>
      </div>
      <hr>
      <div class="participantes mt-4">
        {{'COUNT(equipos.usuario)'}} / Miembros
      </div>
    </div>
    <p class="mx-3"></p>
    {{/each}}
  </div>



</div>

<br>

<div id="existencia">
  <h1 align="center">Ese proyecto no existe o ya se ha cerrado <br><br>
    <a href="/proyectosActivos" style="text-align: center;">Volver a proyectos</a>
  </h1>

  <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!--Codigo enlace desde los div-->
<script>
  $(document).ready(function () {

    $('#existencia').hide();

    $(document).on('click', '.fichas', function () {
      location.href = '/fichaProyecto';
    })


    $('#ordenar').change(function () {

      if ($(this).val() == "novedad") {
        var enviar = 1
        location.href = '/proyectosActivos/filtro/' + enviar;
      }
      if ($(this).val() == "finalizar") {
        var enviar = 2
        location.href = '/proyectosActivos/filtro/' + enviar;
      }


    });

    $('#buscar').click(function () {
      var parametro = $('.inputs_proyectos').val();
      var parametro_procesado = String(parametro);
      console.log(parametro_procesado)

      if (parametro_procesado.length > 0) {
        $('#formulario').attr('action', '/proyectosActivos/nombre/' + parametro_procesado)

        location.href = "/proyectosActivos/nombre/" + parametro_procesado;
      }


      //console.log(location.href = "/proyectosActivos/nombre/" + parametro_procesado)


    })


    var proyectos = $('.proyectos').html();
    //console.log(proyectos.length)
    if (proyectos.length < 100) {
      $('#existencia').show();
    }


  });
</script>