<br><br><br><br><br><br><br>

<form action='http://localhost:3002/upload' method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Subir">
</form>

<br><br><br><br><br><br><br><br><br><br><br>