<br><br><br>
{{#publicacion}}

<div class="container-fluid">
    <h1 align = "center" class="my-5"><u>REPORTADO</u></h1>
    <br>
    <div class="row float-center">
        <div class="col-3"></div>
        <div class="col-2 ml-5"><h2>Usuario</h2></div>
        <div class="col-2"><h2>Titulo</h2></div>
        <div class="col-2 "><h2>Descripcion</h2></div>
        <div class="col-3"></div>
    </div>
    <br>
    <div class="row ">
        <div class="col-3"></div>
        <div class="col-2"><h3>{{nombre}}</h3></div>
        <div class="col-2"> <h3>{{titulo}}</h3></div>
        <div class="col-2 "><h3>{{descripcion}}</h3></div>
        <div class="col-3"></div>
    </div>
    <br>
    <h2 style="text-align: center; font-family: fjalla"><a href="/">~Volver al inicio~</a></h2>
</div>

<br>


<br><br><br><br><br><br><br><br><br><br><br><br>
{{/publicacion}}