<br><br><br>
{{#publicacion}}

<div class="container-fluid">
    <h1 align = "center" class="my-5"><u>REPORTADO</u></h1>
    <br>
    <div class="row float-center">
        <div class="col-1"></div>
        <div class="col-3 ml-5"><h2>Usuario: <u>{{nombre}}</u></h2></div>
        <div class="col-4 ml-5"><img src="{{enlace}}" style="width: 300px;" alt=""></div>
        <div class="col-3 "><h2>Descripcion: <u>{{descripcion}}</u></h2></div>
        <div class="col-1"></div>
    </div>
    <br>
    <hr style="width: 500px;">
    <h2 style="text-align: center; font-family: fjalla"><a href="/verPublicaciones">Volver al inicio</a></h2>
</div>

<br>


<br><br><br><br>
{{/publicacion}}