
   <div class="album py-5 bg-white">
              <div class="container">
                <div class="row">
                  <div class="col-2">
                    <form action="" class="mx-2">
                      <select name="categorias" class="mt-2"> <!--ver el tpo de categoria seleccionada-->
                        <option value="seleciona categoria">Seleciona categoria</option>
                        <option value="sonido">Sonido</option>
                        <option value="dibujo">Dibujo</option>
                        <option value="animacion">Animaci贸n</option>
                        <option value="modelado">Modeladoo</option>
                        <option value="guion">Gui贸n</option>
                        <option value="codigo">C贸digo</option>
                      </select>
                      <br><br>
                    </form>
                  </div>
                  <div class="col-2">
                   <form action="" class="mx-2">
                    <select name="categorias" class="mt-2" > <!--filtos de busqueda-->
                      <option value="filtros">Filtros</option>
                      <option value="recientes">Recentes</option>
                      <option value="mas valorados">M谩s Valorados</option>
                      <option value="destacados">Destacados</option>
                    </select>
                    <br><br>
                  </form>
                  
                </div>
              </div> 
              <hr>

                <div class="row">
                  <div class="col-md-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary  mx-3" data-toggle="modal" data-target="#nuevoReporte"></button>
                    <div class="card mb-4 box-shadow tarjeta_publicacion">
                      <img class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="images/gif.gif" data-holder-rendered="true">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary">わ</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary  mx-3"></button>
                    <div class="card mb-4 box-shadow tarjeta_publicacion">
                      <img class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="images/gif.gif" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary">わ</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary  mx-3"></button>
                    <div class="card mb-4 box-shadow tarjeta_publicacion">
                      <img class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="images/gif.gif" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary">わ</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary  mx-3"></button>
                    <div class="card mb-4 box-shadow tarjeta_publicacion">
                      <img class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="images/gif.gif" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary">わ</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary  mx-3"></button>
                    <div class="card mb-4 box-shadow tarjeta_publicacion">
                      <img class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="images/gif.gif" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary">わ</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary  mx-3"></button>
                    <div class="card mb-4 box-shadow tarjeta_publicacion">
                      <img class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="images/gif.gif" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary">わ</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
            

            <!-- Modal Reporte -->
            <div class="modal" id="nuevoReporte">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                 <!-- Modal Header -->
                 <div class="modal-header">
                  <h4 class="modal-title titulo">Reporte</h4> 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <form action="" class="mx-2">
                    <select name="causas" class="mt-2" > <!--Causa del reporte de la publicaci贸n-->
                      <option value="selecionaCausa">Seleciona causa</option>
                      <option value="ofensivo">Ofensivo</option>
                      <option value="plagio">Plagio</option>
                      <option value="ntsw">Inadecuado</option>
                      <option value="otrasCausas">otros</option>
                    </select>
                    <br><br>
                  </form>
                  <textarea style="width:100%"   name="descripcion"></textarea>
                  <button type="button" class="btn btn-primary bg-light float-right"></button>


                </div> 





                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Enviar</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                </div>

              </div>
            </div>
          </div>

          </div>