<br><br>
<div class="container">
    <h1 class="form-heading"></h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Inicia sesión</h2>
                <p>Introduce tu nombre y contraseña</p>
            </div>
            <form action="/login" method="POST" id="Login">

                <div class="form-group">


                    <input type="text" class="form-control" name="nombre" id="inputEmail" placeholder="Nombre" required>

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" name="password" id="inputPassword"
                        placeholder="Contraseña" required>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="forgot">
                            <a href="/recuperar">Contraseña olvidada?</a>
                        </div>
                    </div>
                    <div class="col-5" style="margin-left: 35px;">

                        <div class="register">
                            <a href="/registro">Registrate!</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>

            </form>
        </div>
    </div>
</div>
</div>
<br><br><br><br><br>