<br><br>
<div class="container">
        <h1 class="form-heading"></h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Accede</h2>
                    <p>Introduce tu nombre y contrase単a</p>
                </div>
                <form action="/login" method="POST" id="Login">
    
                    <div class="form-group">
    
    
                        <input type="text" class="form-control" name="nombre" id="inputEmail" placeholder="Nombre">
    
                    </div>
    
                    <div class="form-group">
    
                        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Contrase単a">
    
                    </div>
                <div class="row">
                    <div class="forgot">
                        <a href="/recuperar">多Olvidaste la contrase単a?</a>
                    </div>
                    <div class="register">
                        <a href="/registro" style="margin-left: 248px;">Registrate</a>
                    </div>
                </div>
                    <button type="submit" class="btn color_bt">Acceder</button>
    
                </form>
            </div>
        </div>
    </div>
    </div>
    <br><br><br><br><br><br>
