<br><br><br>
 <div class="container">
                    <h1 class="form-heading"></h1>
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h2>Contraseña olvidada</h2>
                                <p>Introduce tu email</p>
                            </div>
                            <form id="Login">

                                <div class="form-group">


                                    <input type="email" class="form-control" name="" id="inputEmail"
                                        placeholder="Direccion de correo electrónico">

                                </div>
                                <button type="submit" id="enviar" class="btn btn-primary">Enviar </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br>


        <script>
            $(document).ready(function(){

                $('#enviar').click(function(){
                    location.href = "/"
                });

            });
        </script>