/*BARRA DE NAVEGACION*/

   .banner{
            border: 1px solid red;
            height: 150px;
            background-image: linear-gradient(to right, gray, black);  
   }

   .enlaces_nav{
    color: rgb(60, 112, 216); 
    font-weight: 900; 
    margin-top: 4px;
    font-family: 'Montserrat';
    text-align: center;

   }

   #nav {
    position: fixed;
    z-index: 100;
    width: 100%;
   }
 
   .enlaces_nav:hover{
    color: rgb(14, 73, 115);
   }

   .enlaces_nav:active{
    color: rgb(60, 112, 216); /*COMO EL PRIMER COLOR*/
   }

   #navbarDropdownMenuLink-55{ /*flecha del dropdown*/
    color: rgb(1, 2, 3);
   }

   #navbarDropdownMenuLink-55:hover{
    color: rgb(88, 69, 193);
   }

   #navbarDropdownMenuLink-55:active{
    color: rgb(39, 20, 255);
   }
   nav{
    position: fixed;
    }


 /*TIENDA Y PUBLICACIONES*/

    .tarjeta{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;

   }

   .fotos{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px
   }

   .precio{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;

   }    




  /*FOOTER*/
   .rrss{
      height: 40px;
      width: 40px;
      margin-left: 30px;
      border-radius: 20px;

    }
   .contacto{
    float: left;
   } 


  /*404*/
    .page-wrap {
    min-height: 100vh;
   }      

  