<div class="modal log uk-modal-dialog" id="nuevaPublicacion">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container modal_login">
                    <h1 class="form-heading"></h1>
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h2>Sign In</h2>
                                <p>Please enter your email and password</p>
                            </div>
                            <form id="Login">

                                <div class="form-group">


                                    <input type="email" class="form-control" id="inputEmail"
                                        placeholder="Email Address">

                                </div>

                                <div class="form-group">

                                    <input type="password" class="form-control" id="inputPassword"
                                        placeholder="Password">

                                </div>
                                <div class="row mx-2">
                                    <div class="forgot">
                                        <a href="reset.html" data-toggle="modal" data-target="#reset"
                                            data-dismiss="modal">Contraseña olvidada?</a>
                                    </div>
                                    <div class="register">
                                        <a href="register.html" data-toggle="modal" data-target="#registro"
                                            data-dismiss="modal">Registrarse!</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL RECUPERAR CONTRASEÑA-->
<div class="modal " id="reset">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <h1 class="form-heading"></h1>
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h2>Reset Password</h2>
                                <p>Please enter your email</p>
                            </div>
                            <form id="Login">

                                <div class="form-group">


                                    <input type="email" class="form-control" id="inputEmail"
                                        placeholder="Email Address">

                                </div>
                                <button type="submit" class="btn btn-primary">Send Reset Email</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL REGISTRO-->
<div class="modal " id="registro">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="container justify-content-center">
                        <div class="form register justify-content-center py-3"></div>
                        <form>
                            <div class="form-group  justify-content-center">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll send you an email with the
                                    new Pasword</small>
                            </div>
                            <div class="form-group  justify-content-center">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-group  justify-content-center">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Confirm Password">
                            </div>
                            <div>
                                <label for="exampleInputPassword1">Countrie</label>
                                <select class="form-control form-control">
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I've read the <a href="#">terms
                                        and conditions</a></label>
                            </div>
                            <button type="submit" class="btn btn-primary mb-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--MODAL PUBLICACION-->

<div class="modal " id="publicacion">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="container">
                    <img src="images/concept_4.jpg" class="publicaciones_modal">
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="container justify-content-center">
                        <div class="container">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-11 float-left">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error sapiente
                                        assumenda. Exercitationem dolores, corporis eius perspiciatis rerum consectetur
                                        facere
                                        porro dolore accusamus, nobis sequi! Eaque possimus facere eligendi optio.
                                    </div>
                                    <div class="col-1"><button id="like_boton"><p id="like">
                                        ❤
                                    </p></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<!--Banner Jumbotron-->
<div class="jumbotron jumbotron-fluid banner">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<!--Imagenes y proyectos visibles-->
<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col-5 imagenes">
            <h3>Publicaciones Destacadas</h3>
            <!--Zona imagenes-->
            <div class="scroll">
                <div class="row">
                    <!--CARD-->
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">

                    </div>
                    <div class="col-2"></div>
                    <div class="col-4" data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
                        <img src="images/gif.gif" class="publicaciones">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-2">
        </div>
        <div class="container-fluid"></div>

        <!--Proyectos-->
        <div class="container">
            <div class="col-5 fichas_home">
                <h3>Titulo</h3>
                <hr class="hr_debajo_del_titulo">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae perferendis soluta iure
                    eaque
                    provident exercitationem quibusdam, minima nobis delectus ullam temporibus sapiente praesentium
                    commodi,
                    veniam numquam illum ea neque.
                </div>
                <br>
                <div class="participantes">
                    2/4 Miembros
                </div>
                <br>
                <hr class="bajo_roles">
                <div class="roles">
                    <strong>Programador C#</strong> - Persona con conocimientos de programacion <br>
                    <strong>Diseñador Grafico</strong> - Diseñador de mapeados pixelart <br>
                    <strong>Tecnico de sonido</strong> - Se busca banda sonora para un juego rpg de ambiente
                    medieval<br>
                </div>
                <br>
            </div>
            <div class="col-1"></div>

            <!--OTRO-->
        </div>

    </div>



</div>

<!--TEXTO OPCIONES PREMIUM-->
<div class="container-fluid">
    <h3 class="prem">OPCIONES PREMIUM</h3>
</div>

<!--TARJETAS PREMIUM-->
<div class="container">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="images/5euros.png" class="dinero" width="700px">
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <img src="images/10euros.png" class="dinero" width="620px">
            </div>
        </div>
    </div>
    <br><br>


</div>



<!--Codigo enlace desde los div-->
<script>
    $(document).ready(function () {
        $(document).on('click', '.fichas_home', function () {
            location.href = '/fichaProyecto';
        })
    });
</script>