<br><br><br><br>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">ERROR 404</span>
                <div class="mb-4 lead">La pagina que buscas no existe o quizas no existas tu.</div>
                <a href="/" class="btn btn-link">vuelve a la pagina principal</a>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>